
<app-container>
  <app-content-header>
    <h2 class="text-center">Avalible Lockers  </h2>
  </app-content-header>
  <div class="container p-3">
    <div class="justify-content-around d-flex  flex-wrap">
        <div class="locker-card p-4" *ngFor="let item of lockers">
          <div class="d-flex justify-content-evenly align-items-center">
            <div>
              <i class="fa-solid fa-vault"></i>
            </div>
            <div>
              <h6><b> Number : </b>{{item.number}}</h6>
              <h6><b>Avalible From : </b>{{item.fromDay}} </h6>
              <h6><b>key Day From : </b>{{item.toDay}} </h6>
              <h6><b> Price Per Day : </b>{{item.price}} SAR</h6>
              <app-button text="Refund Locker" (onClicked)="refundLocker(item.id)" ></app-button>
            </div>
          </div>
        </div>
    </div>
  </div>
</app-container>
