<app-container>
  <app-content-header>
    <h3 class="text-center">About</h3>
  </app-content-header>
  <div class="container p-4" style="text-align: center; line-height: 2.8;">
    Our project, which is to build an application for booking lockers, will display information about available lockers for students who want to rent a locker. The student can also specify the period for which he wants to reserve a locker. He may need to pay an amount to reserve the locker, and the student can also renew the reservation. Among the advantages of this site:

The platform provides students with an easy way to reserve a place to store their important belongings during the daily university activities. The system provides an easy-to-use booking system that allows students to book a locker for their preferred duration, as well as an online payment gateway for paying the required duration.

The ability to reserve a locker for a longer period of time with a subscription renewal, making it a flexible and specialized solution to meeting students' storage needs. Lockers is a reliable and convenient service that offers undergraduate students an easy and stress-free way to reserve a place to store their belongings while they are on campus.

Through the lockers website, students can easily browse the reserve lockers on campus on their site to book a locker with ease.
  </div>
  <div class="container p-4">
    <ul class="list-group text-center">
      <li class="list-group-item">Whatever the future is unknown, open your eyes to dreams and ambition, for tomorrow is a new day, and tomorrow you are a new person.</li>
      <li class="list-group-item">Great minds have goals and objectives, while others are content with dreams.</li>
      <li class="list-group-item">In order to succeed, your desire to succeed must be greater than your fear of failure.</li>
      <li class="list-group-item">"Seek to be an active member of your community in order to always work for sustainable development."</li>
    </ul>

  </div>
</app-container>>
