
<app-container>
  <app-content-header>
    <h2 class="text-center">Avalible Lockers  </h2>
  </app-content-header>
  <div class="container p-3">
    <!-- <div class="row">
      <div class="locker-card d-flex align-items-center justify-content-center ">
        <div class="d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-vault"></i>
          <h6><b> Number : </b> 160</h6>

        </div>
      </div>
      <div class="locker-card col-md-3">
        <div class="row">
          <div class="col-md-4 py-3">
            <i class="fa-solid fa-vault"></i>
          </div>
          <div class="col-md-4 py-3">
            <h6><b> Number : </b> 160</h6>
          </div>
        </div>
      </div>
      <div class="locker-card col-md-3 ">
        <div class="row">
          <div class="col-md-4 p-3">
            <i class="fa-solid fa-vault"></i>
          </div>
        </div>
      </div>
      <div class="locker-card col-md-3">
        <div class="row">
          <div class="col-md-4 p-3">
            <i class="fa-solid fa-vault"></i>
          </div>
        </div>
      </div>
    </div> -->
    <div class="justify-content-around d-flex  flex-wrap">
      <div class="locker-card p-4 ">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <i class="fa-solid fa-vault"></i>
          </div>
          <div>
            <h6><b> Number : </b>160</h6>
            <h6><b>Avalible From : </b>10-10-2023 </h6>
            <h6><b>key Day From : </b>10-10-2023 </h6>
            <h6><b> Price Per month : </b>60 $</h6>
            <app-button text="Details ..."></app-button>
          </div>
        </div>
      </div>
      <div class="locker-card p-4 ">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <i class="fa-solid fa-vault"></i>
          </div>
          <div>
            <h6><b> Number : </b>160</h6>
            <h6><b>Avalible From : </b>10-10-2023 </h6>
            <h6><b>key Day From : </b>10-10-2023 </h6>
            <h6><b> Price Per month : </b>60 $</h6>
            <app-button text="Details ..."></app-button>
          </div>
        </div>
      </div>
      <div class="locker-card p-4 ">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <i class="fa-solid fa-vault"></i>
          </div>
          <div>
            <h6><b> Number : </b>160</h6>
            <h6><b>Avalible From : </b>10-10-2023 </h6>
            <h6><b>key Day From : </b>10-10-2023 </h6>
            <h6><b> Price Per month : </b>60 $</h6>
            <app-button text="Details ..."></app-button>
          </div>
        </div>
      </div>
      <div class="locker-card p-4 ">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <i class="fa-solid fa-vault"></i>
          </div>
          <div>
            <h6><b> Number : </b>160</h6>
            <h6><b>Avalible From : </b>10-10-2023 </h6>
            <h6><b>key Day From : </b>10-10-2023 </h6>
            <h6><b> Price Per month : </b>60 $</h6>
            <app-button text="Details ..."></app-button>
          </div>
        </div>
      </div>
      <div class="locker-card p-4 ">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <i class="fa-solid fa-vault"></i>
          </div>
          <div>
            <h6><b> Number : </b>160</h6>
            <h6><b>Avalible From : </b>10-10-2023 </h6>
            <h6><b>key Day From : </b>10-10-2023 </h6>
            <h6><b> Price Per month : </b>60 $</h6>
            <app-button text="Details ..."></app-button>
          </div>
        </div>
      </div>
      <div class="locker-card p-4 ">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <i class="fa-solid fa-vault"></i>
          </div>
          <div>
            <h6><b> Number : </b>160</h6>
            <h6><b>Avalible From : </b>10-10-2023 </h6>
            <h6><b>key Day From : </b>10-10-2023 </h6>
            <h6><b> Price Per month : </b>60 $</h6>
            <app-button text="Details ..."></app-button>
          </div>
        </div>
      </div>
      <div class="locker-card p-4 ">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <i class="fa-solid fa-vault"></i>
          </div>
          <div>
            <h6><b> Number : </b>160</h6>
            <h6><b>Avalible From : </b>10-10-2023 </h6>
            <h6><b>key Day From : </b>10-10-2023 </h6>
            <h6><b> Price Per month : </b>60 $</h6>
            <app-button text="Details ..."></app-button>
          </div>
        </div>
      </div>
      <div class="locker-card p-4 ">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <i class="fa-solid fa-vault"></i>
          </div>
          <div>
            <h6><b> Number : </b>160</h6>
            <h6><b>Avalible From : </b>10-10-2023 </h6>
            <h6><b>key Day From : </b>10-10-2023 </h6>
            <h6><b> Price Per month : </b>60 $</h6>
            <app-button text="Details ..."></app-button>
          </div>
        </div>
      </div>
      <div class="locker-card p-4 ">
        <div class="d-flex justify-content-evenly align-items-center">
          <div>
            <i class="fa-solid fa-vault"></i>
          </div>
          <div>
            <h6><b> Number : </b>160</h6>
            <h6><b>Avalible From : </b>10-10-2023 </h6>
            <h6><b>key Day From : </b>10-10-2023 </h6>
            <h6><b> Price Per month : </b>60 $</h6>
            <app-button text="Details ..."></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-container>
